@import "../libs/bootstrap/scss/bootstrap.scss";
$card-heigth: 10%;
//cus

@import "../libs/bootstrap/scss/bootstrap.scss";

// The add additional custom code here

.imgs{
    height: 150px;
    width: 100px;
}
.tamaño{
    height: 50px;
}
